# Logs
*.log

# Coverage
lib-cov
coverage
*.lcov

# nyc test coverage
.nyc_output

# JUnit
results/junit.xml

# Dependency directories
node_modules/

# Swagger
swagger_output.json

# Others
.github
.vscode
chart

.gitignore

.eslintrc.json

Makefile

*.md